.idea/.name
out/production/TestApi/samples
out/production/TestApi/results
out/production/TestApi/Main.swf
out/production/TestApi/App-app.xml
out/production/TestApi/Main.apk
libs/AirFacebook.ane
batch.txt
TestApi.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/flexCompiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
